# SPDX-License-Identifier: MIT; Copyright 2026 Andrew D Smith
BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 2
BreakAfterReturnType: All
AlignAfterOpenBracket: true
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
BraceWrapping:
  BeforeElse: true
  BeforeCatch: true
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
SpacesBeforeTrailingComments: 2
PackParameters:
  BinPack: OnePerLine
  BreakAfter: 0
AllowShortFunctionsOnASingleLine: All
